
.main-box {
    font-size:20px;
    border-radius: 50px;
    margin: 5% 5% 5% 5%;
    padding: 10% 10% 10% 10%;
    color: rgb(200, 200, 200);
    background-color: rgb(40, 40, 40);
}

.left {
    text-align: left;
    font-size:20px;
    border-radius: 50px;
    margin: 5% 5% 5% 5%;
    padding: 10% 10% 10% 10%;
    color:white;
    background-color: navy;
}

nav {
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    position: sticky;
    top: 0px;
}

.about:link {
    color:#00b25b;
    text-decoration:none;
}
.about:visited {
    color:#00b25b;
    text-decoration:none;
}
.about:hover {
    color:#00522a;
    text-decoration:none;
}

.fun:link {
    color:#b5c338;
    text-decoration:none;
}
.fun:visited {
    color:#b5c338;
    text-decoration:none;
}
.fun:hover {
    color:#4c5400;
    text-decoration:none;
}

.place:link {
    color:#b25c00;
    text-decoration:none;
}
.place:visited {
    color:#b25c00;
    text-decoration:none;
}
.place:hover {
    color:#502a01;
    text-decoration:none;
}


.ice:link {
    color:#00acb2;
    text-decoration:none;
}
.ice:visited {
    color:#00acb2;
    text-decoration:none;
}
.ice:hover {
    color:#015053;
    text-decoration:none;
}


body {
    background-color: black;
    transition: background-color 1s ease;
}

.about-box {
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    margin: 10% 10% 10% 10%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    color:black;
    background-color: #00b25b;
}

.fun-box {
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    margin: 10% 10% 10% 10%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    color:black;
    background-color: #b5c338;
}

.place-box {
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    margin: 10% 10% 10% 10%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    color:black;
    background-color: #b25c00;
}

.ice-box {
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    margin: 10% 10% 10% 10%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    color:black;
    background-color: #00acb2;
}

