#snowman {
    width: 200px;
    height: 200px;
    float:left;
    padding-left: 2%;
}

.main-box {
    display: flex;
    flex-direction: row;
    font-size:30px;
    border-radius: 30px;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    text-align: left;
    transition: 5s ease-in;
    border-style: ridge;
    border-width: 10px;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    position: sticky;
    top: 0px;
    border-style: solid;
    border-color: rgb(50,50,50);
    border-width:2px;
    padding:10px 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#Home:hover {
    animation: flip 2s infinite;
}

@keyframes flip {
    0%,1% {
      transform: rotateY(360deg) 
    }
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

p {
    text-align: left;
    font-size: 25px;
    font-family: Optima, 'Trebuchet MS';
}

.center {
    text-align: center;
}

.about {
    color:#005f31;
    transition: 0.75s ease-out;
}
.about:link {
    color:#005f31;
    text-decoration: none;
}
.about:visited {
    color:#005f31;
    text-decoration: none;
}
.about:hover {
    font-size: 0;
    color:#00b25b;
    text-decoration: none;
}
.about:hover:after {
    content:attr(data-hover);
    font-size: 40px;
    color:#00b25b;
    text-decoration: none;
}

.fun {
    color:#555e00;
    transition: 0.75s ease-out;
}
.fun:link {
    color:#555e00;
    text-decoration: none;
}
.fun:visited {
    color:#555e00;
    text-decoration: none;
}
.fun:hover {
    font-size:0;
    color:#b5c338;
    text-decoration: none;
}
.fun:hover:after {
    content:attr(data-hover);
    font-size: 40px;
    color:#b5c338;
    text-decoration: none;
}

.place {
    color:#653502;
    transition: 0.75s ease-out;
}
.place:link {
    color:#653502;
    text-decoration: none;
}
.place:visited {
    color:#653502;
    text-decoration: none;
}
.place:hover {
    font-size:0;
    color:#b25c00;
    text-decoration: none;
}
.place:hover:after {
    content:attr(data-hover);
    font-size: 40px;
    color:#b25c00;
    text-decoration: none;
}

.ice {
    color: #00787c;
    transition: 0.75s ease-out;
}
.ice:link {
    color:#00787c;
    text-decoration: none;
}
.ice:visited {
    color:#00787c;
    text-decoration: none;
}
.ice:hover {
    font-size: 0px;
    color:#00acb2;
    text-decoration: none;
}
.ice:hover:after {
    content:attr(data-hover);
    font-size: 40px;
    color:#00acb2;
    text-decoration: none;
}


body {
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
}

.about-box {
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    margin: 5% 10%;
    padding: 1% 2.5%;
    color:rgb(10, 60, 10);
    background-color: rgb(180,255,180);
    border-style: groove;
    border-width: 10px;
    border-color:rgb(10, 80, 10);
}

.animate-about {
    background-image: linear-gradient(
    -225deg,
    #ccff33 0%,
    #70e000 29%,
    #007200 67%,
    #004b23 100%
    );
    background-size: 200% auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2.5s linear infinite;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.fun-box {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 30px;
    margin: 5% 10%;
    padding: 1% 2.5%;
    color:rgb(80, 80, 10);
    background-color: rgb(255,255,180);
    border-style: groove;
    border-width: 10px;
    border-color:rgb(100, 100, 30);
}

.animate-fun {
    background-image: linear-gradient(
    -225deg,
    #ffea00 0%,
    #ffc300 29%,
    #ff9500 67%,
    #ff7b00 100%
    );
    background-size: 200% auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2.5s linear infinite;
}

.place-box {
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    margin: 5% 10%;
    padding: 1% 2.5%;
    color:rgb(80,50, 10);
    background-color: rgb(255,180,100);
    border-style: groove;
    border-width: 10px;
    border-color:rgb(100, 80, 30);
}

.animate-hi {
    background-image: linear-gradient(
    -225deg,
    #f2f3ae 0%,
    #d58936 25%,
    #a44200 50%,
    #69140e 75%,
    #3c1518 100%
    );
    background-size: 200% auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

.ice-box {
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    margin: 5% 10%;
    padding: 1% 2.5%;
    color:rgb(10, 80, 80);
    background-color: rgb(180,255,255);
    border-style: groove;
    border-width: 10px;
    border-color:rgb(30, 100, 100);
}

.animate-ice {
    background-image: linear-gradient(
    -225deg,
    #caf0f8 0%,
    #90e0ef 25%,
    #00b4d8 50%,
    #0077b6 75%,
    #03045e 100%
    );
    background-size: 200% auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2.75s linear infinite;
}

#butterfly {
    width: 300px;
    height: 255px;
    float: right;
}

#picture {
    padding-right: 3%;
    padding-bottom: 2%;
    width: 150px;
    height: 255px;
    float: left;
}

#skate {
    width: 230px;
    text-align: left;
}

.button {
    display:block;
    position: absolute;
    right: 17%;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    float: right;
}

#grass {
    display: block;
    position: relative;
    width: 300px;
    opacity: 1;
    transition: opacity 1s ease;
    float: right;
    padding-bottom: 2%;
}

#grass:hover {
    opacity: 0;
    width: 300px;
    height: 300px;
    float: right;
    padding-bottom: 2%;
}


#bread {
    width: 300px;
    float: right;
}

#break {
    background-color: white;
}
